groq
numpy
pandas
joblib
datasets
scikit-learn
torch
transformers
tqdm
accelerate
sentencepiece
protobuf
dotenv
langchain
langchain-community
langchain-qdrant
langchain-huggingface
langchain-groq
qdrant-client
sentence-transformers
fastapi
uvicorn
pydantic-settings
python-dotenv